body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a{
  text-decoration: none;
  text-decoration-line: none;
  color: unset;
}

a:hover{
  text-decoration: none;
  text-decoration-line: none;
  color: unset;
}
